html, body {
  margin: 0;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#open-modal,
#close-modal{
  background-color: royalblue;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#modal{
  background-color: white;
  padding: 20px 20px;
  max-width: 600px;
  height: 200px;
  margin: 0 auto;
  border: 10px solid white;
  position: relative;
  top: 30%;
  
}

#overlay{
  display: none;
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}



/** we need to style our open and close buttons, re-use the comma , to target both buttons **/

/** modal -> remember we used an ID for this div? we can target it by doing #modal **/

/** overlay -> we also used an ID for this, so do the same as above **/
/** the overlay must overtake the screen, so how would you make the overlay 100% height and 100% width so it fills the entire screen? it also must position itself above everything else!

/* 
========= Things to note ========= 
  1) remember on the presentation we want to briefly hide the background of the modal overlay? hint: look at the notes below! rgba...
  2)
*/

/*
======== Helpers
  - rgba = red, green blue, alpha (alpha being the opacity on a scale of 0 to 1 - 0.5 sounds good?)
  - rgba is complex and it's a bit of a time sink to remember all the values, look at rgba colour values online, or rgba colour convetors, or even colour palettes!
  - if you come from a design background, you'll know you can convert HEX values (e.g. #ffffff to rgba using a convertor)
*/


 /* Overlay: #overlay

  1) Add a width and a height of 100%
  2) Position absolute (allows us to place any element exactly where we want it)
  3) Set top, left, bottom, right to 0
  4) Add a background colour of black
  5) Add position relative to #modal so that it's relative to #overlay
  6) Put the background of #modal to white (temp background no longer needed)
  7) Add top: 30% to #modal */
  
 
  
 